.parent{
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}
#clock{
    color: rgb(245, 236, 236);
    font-weight: bold;
    font-size: 30px;
  }
  .look-calendar {
    width: 350px;
    border: 20px inset #2b3a24
	;
    padding: 8px;
    background-color: #3e4041

    ;
    margin: 0 auto;   
  }
  #calendar {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-spacing:2px;
    color: rgb(255, 255, 255);
  }
  #calendar tr.dn td {
    color: #ffffff;
    font-weight: 700;
  }
  #calendar thead tr:last-child {
    font-size: small;
    color: #7a10d1;
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover,
  #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar tbody td {
    color: #ffffff;
  }
  #calendar tbody td:nth-child(n+6),
  #calendar .holiday {
    color: #f4c263
    ;
  }
  #calendar tbody td.today {
    background: #dc0000;
    color: #fff;
  }